<div fxLayoutAlign="center" style="padding: 85px">
  <mat-card
    [fxLayout]="'column'"
    [style.width]="onMobile() ? '70%' : '50%'"
    fxLayoutAlign="center center"
    style="padding: 20px; background-color: #f2f2f2; color: #1a1a1a;"
    class="matcardShadow"
  >
    <h1 fxLayoutAlign="center" style="margin-bottom: 20px; font-weight: bold; color: #1a1a1a">
      Login Form
    </h1>
    <form
      [formGroup]="userForm"
      fxLayout="column"
      fxLayoutAlign="center center"
      style="width: 100%"
    >
      <div fxLayout="column" style="width: 70%">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label style="color: #1a1a1a">Email</mat-label>
          <input #emailValue formControlName="email" type="email" matInput style="color: #1a1a1a"/>
          <mat-error style="color: #d32f2f">{{getEmailError()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 100%;" >
          <mat-label style="color: #1a1a1a">Password</mat-label>
          <input
            #passwordValue
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            matInput style="color: #1a1a1a; "
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error style="color: #d32f2f">{{getPasswordError()}}</mat-error>
          <mat-hint align="start" *ngIf="!error?.error.password" class="warn">Give a strong password</mat-hint>
          <mat-hint align="end">{{passwordValue.value.length}}/200</mat-hint>
        </mat-form-field>
        <span fxLayoutAlign="center" *ngIf="error" style="color: #d32f2f">{{ errorText }}</span>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="center"
        style="margin: 10px"
        fxLayoutGap="40px"
        *ngIf="!spinner"
      >
        <button
          mat-flat-button
          color="primary"
          [disabled]="loginDisabled()"
          (click)="handleLoginClick(emailValue.value, passwordValue.value)"
        >
          Login
        </button>
        <button
          mat-flat-button
          color="warn"
          type="button"
          routerLink="/register"
        >
          Create Account
        </button>
      </div>
        
    </form>

    <mat-spinner *ngIf="spinner" [diameter]="40" style="color: #d32f2f;"></mat-spinner>

    <span style="color: #d32f2f; font-size: 14px; font-weight: bold; text-align:center" *ngIf="setError">{{ setError }}</span>

  </mat-card>
</div>

