<div fxLayout="column" style="height: 100%; margin: 20px; font-family: 'Montserrat', sans-serif; margin-top: 65px" *ngIf="afAuth.user | async as user">
  <div style="background-color: #2C3333; margin-top: 15px;">
    <h1 style="text-align: center; color: white; margin-top: 10px;">DASHBOARD</h1>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="margin: 20px;">
      <mat-card style="width: 150px; height: 150px; border: dotted; border-radius: 3px;"></mat-card>
      <div fxLayout="column" fxLayoutAlign="center" style="color: #CBE4DE;">
        <h2>{{ user.displayName }}</h2>
        <h3>{{ user.email }}</h3>
      </div>
    </div>
  </div>

  <div fxLayout="column" style="margin-top: 30px;">
    <mat-tab-group class="custom-tab-group" [disableRipple]='true'>
      <mat-tab label="Your Reviews">
        <h2 style="margin-top: 10px;">Game Reviews: </h2>

        <div *ngIf="!isLoading">
          <mat-spinner [diameter]="40" style="color: #000000;"></mat-spinner>
        </div>

        <div *ngIf="docData.length === 0">
          <span style="font-size: 18px; font-weight: bold;">You have no reviews posted</span>
        </div>

        <div fxLayout="column" fxLayoutGap="20px" style="margin-bottom: 20px; padding: 30px;">
          <mat-card *ngFor="let review of docData" class="reviewCard" [fxLayout]="onMobile() ? 'column' : 'row'" [fxLayoutAlign]="onMobile() ? 'start center' : 'start start'" style="background-color: #F7F7F7; color: #2C3333; padding: 20px;">
            <img class="reviewImg" src="{{review?.image?.img1}}" alt="test" style="object-fit: cover; width: 250px; height: 150px;  margin-right: 20px; border-radius: 15px;"> 
            <div fxLayout="column" fxLayoutGap="20px" style="margin-top: 5px;">
              <div fxLayout="row">
                <span style="font-size: 20px; font-weight: bolder;">{{review.game_name}}</span>
                <!-- <button fxLayoutAlign="end end" mat-icon-button [disableRipple]="true" (click)="onDocDelete(review.game_name)"><mat-icon>delete</mat-icon></button> -->
              </div>
              <span style="font-size: 14px; font-weight: 500;"><strong>Posted on:</strong> {{review.created_at | date:'MMM d, y HH:mm'}}</span>
              <div fxLayout="column">
                <span style="font-size: 16px;"><strong>Your Review: </strong></span>
                <span style="font-size: 14px; color: #555;">{{review.review_text}}</span>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start end">
              <button matTooltip="Delete Review" mat-icon-button [disableRipple]="true" (click)="onDocDelete(review.game_name)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>  
      </mat-tab>
      <mat-tab label="My Details">
        <div [formGroup]="formGroup" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: 30px;">
          <h3>Name:</h3>
          <mat-form-field>
            <input formControlName="name" #userName matInput placeholder="Enter Name">
          </mat-form-field>
          <button [disabled]="submitDisabled" mat-raised-button color="primary" (click)="handleUsernameUpdate(userName.value)">Update</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
