@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
  }

.new-list {
    overflow-x: auto;
}

.example-viewport {
  height: 300px;
  width: 100%; 
}

.example-item {
  height: 250px; 
  margin-left: 0; 
}

.mat-card {
  height: 100%; 
  width: 160px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card > div:first-child {
  flex-grow: 1; 
}

.mat-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: 5px;
}

.mat-card > div:last-child {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
}

.mat-card span {
  height: 30px; 
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.clickable {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
}
.clickable:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.3) 0px -3px 0px inset;
}

.h1class {
  font-weight: bold;
  font-size: 30px;
}

.forReview {
  background-image: url("https://i.imgur.com/yJ1xuOz.jpeg");
  background-size: cover;
  color: white;
  padding: 10px;
}

.review-eg {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
