<div
  style="padding:10px; font-family: 'Montserrat', sans-serif; margin-top: 65px"
  fxLayout="column"
  fxLayoutGap="10px"
>
  <div fxLayout="column">
    <h1>Trending Games</h1>
    <span>Based on player counts and release date</span>
    <div *ngIf="gameLatest.length === 0" style="padding: 10px;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="8" class="example-viewport">
    <div *cdkVirtualFor="let game of gameLatest; index as i" class="example-item" fxFlex="0 0 auto" fxLayout="column" style="margin: 10px;">
      <mat-card (click)="updateToDetailView($event,game.slug)" matRipple class="clickable" style="height: 250px; width: 160px; margin-left: 10px; "  fxLayoutGap="10px">
        <div style="height: 70%;">
          <img  fxLayoutAlign="center" src="{{game?.background_image}}" alt="test" style="height: 100%; width: 100%; object-fit: cover; margin-left: 5px; margin-top: 5px; ">
        </div>
        <span style="height: 30%; font-weight: bold; padding: 10px; text-align: center;">{{game?.name}}</span>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>

  <div *ngIf="gameLatest.length !== 0">
    <app-steam-panel  style="margin-top: 10px;"></app-steam-panel>
  </div>
  
  <div *ngIf="gameLatest.length !== 0" fxLayout="column" class="forReview">
    <div fxLayout="row">
      <h1 class="h1class">Search for your favourite game, and post reviews</h1>
      <span style="height: 30%; font-weight: bold; padding: 10px; text-align: center;">
        At Games Horizon, we believe that the best reviews come from real players who have experienced the game first-hand.  
        Whether you're a console player, PC gamer, or mobile enthusiast, you'll find a community of like-minded gamers who are passionate about sharing their insights and experiences. 
        Simply search for your favorite game and add your own review to our growing collection of player-generated content. Share your thoughts on the game's graphics, gameplay, story, and overall experience.
      </span>
    </div>
    <div fxLayout="column">
      <img class="review-eg" fxLayoutAlign="center center" src="https://i.imgur.com/vXyJd3F.png" alt="Image" style="max-height: 50vh; max-width: 70%; object-fit: contain; height: 30vh;">
      <div fxLayoutAlign="center center" style="margin-top: 10px;">
        <button (click)="updateToGameList()" mat-raised-button>Get Started</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="gameLatest.length !== 0">
    <app-search-data-autocomplete></app-search-data-autocomplete>
  </div>

</div>
