<div
  style="padding:2px; font-family: 'Montserrat', sans-serif; margin-top: 5px"
  fxLayout="column"
  fxLayoutGap="10px"
>
  <div fxLayout="column">
    <h1>Trending Games</h1>
    <span>Based on player counts and release date</span>
    <div *ngIf="gameLatest.length === 0" style="padding: 10px;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <cdk-virtual-scroll-viewport itemSize="8" class="example-viewport">
    <div *cdkVirtualFor="let game of gameLatest; index as i" class="example-item" fxFlex="0 0 auto" fxLayout="column" style="margin: 10px;">
      <mat-card (click)="updateToDetailView($event,game.slug)" matRipple class="clickable" style="height: 250px; width: 160px; margin-left: 10px; "  fxLayoutGap="10px">
        <div style="height: 70%;">
          <img  fxLayoutAlign="center" src="{{game?.background_image}}" alt="test" style="height: 100%; width: 100%; object-fit: cover; margin-left: 5px; margin-top: 5px; ">
        </div>
        <span style="height: 30%; font-weight: bold; padding: 10px; text-align: center;">{{game?.name}}</span>
      </mat-card>
    </div>
  </cdk-virtual-scroll-viewport>

  <div *ngIf="gameLatest.length !== 0">
    <app-steam-panel  style="margin-top: 10px;"></app-steam-panel>
  </div>
  

</div>
